.bg-menu {
  background-image: linear-gradient(to right, #333333 10px, #a31414 10px);
  background-size: cover;
}

.navbar .img-round {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  display: inline-block;
}

.nav-item {
  margin-left: 1em;
  position: relative;
}

.navbar-nav {
  margin-left: auto;
}

.dropdown-menu {
  background-color: #333;
  border: none;
}

.dropdown-item {
  color: #fff;

  &:hover {
    background-color: #444;
  }
}

.dropdown-divider {
  border-top: 1px solid #444;
}

.notification {
  position: absolute;
  top: 2px;
  border: 1px solid #fff;
  right: 0;
  font-size: 9px;
  background: #f44336;
  color: #fff;
  min-width: 18px;
  padding: 0 5px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
  line-height: 15px;
  display: block;
}

.nav-color-user {
  color: #fff;
  text-decoration: none;
}
