<!-- task-search.component.html -->
<section class="container mt-5">

  <!-- Line 3: Consult Task e Create Record -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group mb-2">
        <h1 class="title-screen-search">{{ 'TASK.TITLE_CONSULT' | translate }}</h1>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <div class="form-group mb-2 text-right">
        <button id="task-search-btn-create-record" tooltip="{{ 'CRUD.TOOLTIP_CREATE_NEW' | translate }}" 
                type="button" class="btn btn-outline-primary" routerLink="/app/task/new">
          {{ 'CRUD.NEW' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Search Form -->
  <form [formGroup]="form" (ngSubmit)="search()">
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group mb-2">
          <input id="task-search-title" placeholder="{{ 'TASK.SEARCH_COLUMN_TITLE' | translate }}" class="form-control" formControlName="title">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-2">
          <input id="task-search-description" placeholder="{{ 'TASK.SEARCH_COLUMN_DESCRIPTION' | translate }}" class="form-control" formControlName="description">
        </div>
      </div>
    </div>
    <div class="row align-items-end mb-3">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-2">
              <input type="text" placeholder="{{ 'TASK.SEARCH_COLUMN_DUEDATE' | translate }}"
                      class="form-control"
                      formControlName="dueDate"                      
                      bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group-text">
              <input class="form-check-input" id="task-search-completed" 
                     type="checkbox" formControlName="completed"> 
              <label for="completed" class="d-block mx-2"> 
                {{ 'TASK.LABEL_COMPLETED' | translate }}
              </label> 
              <input class="form-check-input" id="task-search-not-completed" 
                     type="checkbox" formControlName="notCompleted"> 
              <label for="not_completed" class="d-block mx-2"> 
                {{ 'TASK.LABEL_NOT_COMPLETED' | translate }} 
              </label> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-2">
          <!-- btn btn-outline-secondary -->
          <button id="task-search-btn-consult-records" type="button" class="btn btn-secondary" 
                  tooltip="{{ 'CRUD.TOOLTIP_FILTER' | translate }}" (click)="search()">
            {{ 'CRUD.TOOLTIP_FILTER' | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- Grid Consult -->
    <div class="form-row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{ 'TASK.SEARCH_COLUMN_TITLE' | translate }}</th>
            <th scope="col">{{ 'TASK.LABEL_DESCRIPTION' | translate }}</th>
            <th scope="col">{{ 'TASK.LABEL_DUEDATE' | translate }}</th>
            <th scope="col">{{ 'TASK.LABEL_COMPLETED' | translate }}</th>
            <th scope="col" class="column-action-crud-header">{{ 'CRUD.ACTION' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let entity of entities">
            <tr *ngIf="entity.title">
              <td id="task-search-column-task-title" tooltip="{{ 'TASK.LABEL_TITLE' | translate }}">{{ entity.title }}</td>
              <td id="task-search-column-task-description" tooltip="{{ 'TASK.LABEL_DESCRIPTION' | translate }}">{{ entity.description }}</td>
              <td id="task-search-column-task-duedate" tooltip="{{ 'TASK.LABEL_DUEDATE' | translate }}">{{ entity.dueDate | date:'yyyy-MM-dd' }}</td>
              <td id="task-search-column-task-completed" tooltip="{{ 'TASK.LABEL_COMPLETED' | translate }}">
                {{ entity.completed !== undefined && entity.completed !== null ? (entity.completed ? ('TASK.YES' | translate) : ('TASK.NO' | translate)) : '' }}
              </td>
              <td>
                <div class="column-action-crud-body" *ngIf="entity.id > 0">
                  <a id="task-search-action-update-task" tooltip="{{ 'CRUD.ACTION_UPDATE' | translate }}"
                    [routerLink]="['/app/task', entity.id]" style="padding-right: 20px;"><i class="fas fa-edit"></i></a>
                  <a id="task-search-action-remove-task" tooltip="{{ 'CRUD.ACTION_REMOVE' | translate }}" (click)="confirmRemoval(entity)">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          </ng-container>
          <tr id="task-search-no-content" *ngIf="entities.length === 0 || (entities.length === 1 && !entities[0].title)">
            <td id="task-search-no-content-message" colspan="5" class="no-content-message">
              {{ 'TASK.NO_CONTENT' | translate }}
            </td>
          </tr>
        </tbody>
      </table>

      <app-pagination-table [page]="page" (paginationEvent)="changePage($event)" style="width: 100%"></app-pagination-table>
    </div>
  </form>

  <app-form-debug [form]="form"></app-form-debug>
</section>
