<div class="wrapp container-fluid p-0">

  <app-navbar></app-navbar>

  <div class="site-content">

    <div class="d-flex h-100">

      <div>
          <app-sidebar></app-sidebar>
      </div>
      
      <div class="col p-3 text-center"> <!-- Added 'text-center' to centralize the content -->
        <!-- Welcome message -->
        <h3 id="application_welcome" class="mb-2">Welcome to the System!</h3>
        <h4 id="application_user_logged" class="mb-4">{{ userLogged }}</h4>

        <router-outlet></router-outlet>
      </div>
      
      
    </div>
    

  </div>

  <app-footer></app-footer>

</div>
