<section class="container mt-5">

  <!-- Consult Group e Create Record -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group mb-2">
        <h1 class="title-screen-search">{{ 'GROUP.TITLE_CONSULT' | translate }}</h1>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <div class="form-group mb-2 text-right">
        <button id="btn-create-record" tooltip="{{ 'CRUD.TOOLTIP_CREATE_NEW' | translate }}" type="button"
          class="btn btn-outline-primary" routerLink="/app/group/new">
          {{ 'CRUD.NEW' | translate }}
        </button>
      </div>
    </div>
  </div>


  <form [formGroup]="form" (ngSubmit)="search()">

    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group mb-2">
          <input id="name" placeholder="{{ 'GROUP.GROUP_LABEL_FILTER' | translate }}" class="form-control"
            formControlName="name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-2">
          <button id="btn-consult-records" type="button" class="btn btn-secondary"
            tooltip="{{ 'CRUD.TOOLTIP_FILTER' | translate }}" (click)="search()">
            {{ 'CRUD.TOOLTIP_FILTER' | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- Grid Consult -->
    <div class="form-row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{ 'GROUP.SEARCH_COLUMN_NAME' | translate }}</th>
            <th scope="col" class="column-action-crud-header">{{ 'CRUD.ACTION' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entities ">

            <td id="column-group-name" tooltip="{{ 'GROUP.LABEL_NAME' | translate }}">{{ entity.name }}</td>

            <td>
              <div class="column-action-crud-body" *ngIf="entity.id > 0">
                <a id="action-update-group" tooltip="{{ 'CRUD.ACTION_UPDATE' | translate }}"
                  [routerLink]="['/app/group', entity.id]" style="padding-right: 20px;"><i class="fas fa-edit"></i></a>
                <a id="action-remove-group" tooltip="{{ 'CRUD.ACTION_REMOVE' | translate }}"
                  (click)="confirmRemoval(entity)">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
      <app-pagination-table [page]="page" (paginationEvent)=changePage($event) style="width: 100%">
      </app-pagination-table>
    </div>

  </form>

  <app-form-debug [form]="form"></app-form-debug>
</section>