.custom-automation-margin {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .nav-item {
    margin-bottom: 10px;
    margin-left: 1%;
    /* Adjust this value to control the spacing */
  }