
<div class="sidebar">
  <div class="sidebar-header">
    <h3 id="automationScreen" style="margin-top: 1%; margin-left: 1%;">Automation Screen</h3>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/accordionAutomation">
        <span id="automationAccordion" class="nav-link-text">Accordion</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/alertsAutomation">
        <span id="automationAlerts" class="nav-link-text">Alerts</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/collapseAutomation">
        <span id="automationCollapse" class="nav-link-text">Collapse</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/datepickerAutomation">
        <span id="automationDatePicker" class="nav-link-text">Datepicker</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/dropdownsAutomation">
        <span id="automationDropdowns" class="nav-link-text">Dropdowns</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/modalsAutomation">
        <span id="automationModals" class="nav-link-text">Modals</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/paginationAutomation">
        <span id="automationPagination" class="nav-link-text">Pagination</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/popoverAutomation">
        <span id="automationPopover" class="nav-link-text">Popover</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/progressbarAutomation">
        <span id="automationProgressbar" class="nav-link-text">Progressbar</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/ratingAutomation">
        <span id="automationRating" class="nav-link-text">Rating</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/sortableAutomation">
        <span id="automationSortable" class="nav-link-text">Sortable</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/tabsAutomation">
        <span id="automationTabs" class="nav-link-text">Tabs</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/timepickerAutomation">
        <span id="automationTimepicker" class="nav-link-text">Timepicker</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/tooltipAutomation">
        <span id="automationTooltip" class="nav-link-text">Tooltip</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/typeaheadAutomation">
        <span id="automationTypeahead" class="nav-link-text">Typeahead</span>
      </a>
    </li>
  </ul>
</div>
