<!-- Sidebar and Content -->
<div class="row no-gutters">
  <!-- Sidebar -->
  <div class="col-md-2 bg-dark text-light p-3" style="height: 100vh;">
    <ul class="nav flex-column flex-grow-1">

      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/province">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.PROVINCE' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/group">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.GROUP' | translate }}
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/group-permission">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.GROUP_PERMISSION' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/user">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.USER' | translate }}
        </a>
      </li>
    </ul>

  </div>

  <!-- Content -->
  <div class="col-md-10 p-4">
    <!-- Conteúdo principal da aplicação -->
  </div>
</div>