@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.sidebar {
  height: 100vh; /* Altura total da viewport */
  width: 250px; /* Largura fixa do sidebar */
  position: fixed; /* Fixa o sidebar à esquerda */
  top: 0; /* Alinha o sidebar no topo */
  left: 0; /* Alinha o sidebar na borda esquerda */
  background-color: #343a40; /* Cor de fundo do sidebar */
  padding-top: 20px; /* Espaço superior dentro do sidebar */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.sidebar .nav-link {
  padding: 10px; /* Espaçamento interno dos itens de navegação */
  font-size: 18px; /* Tamanho da fonte dos itens de navegação */
}

.sidebar button {
  margin-top: auto; /* Coloca o botão no final do sidebar */
  width: 100%; /* Ocupa toda a largura disponível do sidebar */
}

/* Responsividade */
@media (max-width: 992px) {
  .sidebar {
    width: 100%; /* Altera a largura para ocupar toda a largura da tela em telas menores */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    position: relative; /* Altera para posição relativa para o layout responsivo */
  }
}


