<div class="navbar-default navbar-inverse sidebar h-100">

  <ul>

    <li>
      <a aria-expanded="false" routerLink="/app/state">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.STATE' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/state">{{ 'SIDE_BAR.SEE_POSTS' | translate }}</a></li>
        <li><a routerLink="/app/state/new">{{ 'SIDE_BAR.ADD_STATE' | translate }}</a></li>
      </ul>
    </li>



    <li>
      <a aria-expanded="false" routerLink="/app/group">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.GROUP' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/group">{{ 'SIDE_BAR.SEE_POSTS' | translate }}</a></li>
        <li><a routerLink="/app/group/new">{{ 'SIDE_BAR.ADD_GROUP' | translate }}</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/group-permission">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.GROUP_PERMISSION' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/group-permission">{{ 'SIDE_BAR.SEE_POSTS' | translate }}</a></li>
        <li><a routerLink="/app/group-permission/new">{{ 'SIDE_BAR.ADD_GROUP_PERMISSION' | translate }}</a></li>
      </ul>
    </li>

    <li>
      <a aria-expanded="false" routerLink="/app/user">
        <span><i class="fas fa-tags"></i> {{ 'SIDE_BAR.USER' | translate }}</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul aria-expanded="false">
        <li><a routerLink="/app/user">{{ 'SIDE_BAR.SEE_POSTS' | translate }}</a></li>
        <li><a routerLink="/app/user/new">{{ 'SIDE_BAR.ADD_USER' | translate }}</a></li>
      </ul>
    </li>

    
    
    

  </ul>

</div>
