<!-- Sidebar and Content -->
<div class="row no-gutters">
  <!-- Sidebar -->
  <div class="col-md-2 bg-dark text-light p-3" style="height: 100vh;">
    <ul class="nav flex-column flex-grow-1">

      
      <li class="nav-item">
        <a id="sidebar-link-task" class="nav-link text-light" routerLink="/app/task">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.TASK' | translate }}
        </a>
      </li>

      <li class="nav-item">
        <a id="sidebar-link-province" class="nav-link text-light" routerLink="/app/province">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.PROVINCE' | translate }}
        </a>
      </li>
      
      <li class="nav-item">
        <a id="sidebar-link-group" class="nav-link text-light" routerLink="/app/group">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.GROUP' | translate }}
        </a>
      </li>
      
      <li class="nav-item">
        <a id="sidebar-link-group-permission" class="nav-link text-light" routerLink="/app/group-permission">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.GROUP_PERMISSION' | translate }}
        </a>
      </li>
      
      <li class="nav-item">
        <a id="sidebar-link-user" class="nav-link text-light" routerLink="/app/user">
          <i class="bi bi-tags"></i> {{ 'SIDE_BAR.USER' | translate }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div class="col-md-10 p-4">
    <!-- Content of main application -->
  </div>
</div>
