@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.sidebar {
  height: 100vh; /* Full viewport height */
  width: 250px; /* Fixed sidebar width */
  position: fixed; /* Fixes the sidebar to the left */
  top: 0; /* Aligns the sidebar at the top */
  left: 0; /* Aligns the sidebar to the left edge */
  background-color: #343a40; /* Sidebar background color */
  padding-top: 20px; /* Top padding inside the sidebar */
  overflow-y: auto; /* Adds vertical scrolling if needed */
}

.sidebar .nav-link {
  padding: 10px; /* Internal spacing for navigation items */
  font-size: 18px; /* Font size for navigation items */
}

.sidebar button {
  margin-top: auto; /* Places the button at the bottom of the sidebar */
  width: 100%; /* Occupies the entire available width of the sidebar */
}

/* Responsiveness */
@media (max-width: 992px) {
  .sidebar {
    width: 100%; /* Changes the width to occupy the entire screen width on smaller screens */
    height: auto; /* Automatic height to adjust to content */
    position: relative; /* Changes to relative positioning for responsive layout */
  }
}
