<!-- pagination-table.component.html -->
<div class="pagination-container" *ngIf="page && page.totalPages > 0">
  <nav aria-label="Page navigation">
    <ul class="pagination">

      <li tooltip="{{ back }}" class="page-item" [ngClass]="page.first ? 'disabled' : '' ">
        <a id="pagination-previous" class="page-link" *ngIf="page.first" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        <a id="pagination-previous-active" class="page-link" style="cursor: pointer" *ngIf="!page.first" (click)="changePage(page.number-1)"
          aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <li class="page-item" *ngFor="let pageAux of page.pages; let i = index" [ngClass]="(pageAux == page.number) ? 'active' : ''"
        [ngClass]="page.i == page.number ? 'active' : '' ">
        <a id="pagination-page-{{i}}" class="page-link" style="cursor: pointer" (click)="changePage(pageAux)">{{pageAux+1}}</a>
      </li>

      <li tooltip="{{ next }}" class="page-item" [ngClass]="page.last ? 'disabled' : '' ">
        <a id="pagination-next" class="page-link" *ngIf="page.last" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <a id="pagination-next-active" class="page-link" style="cursor: pointer" *ngIf="!page.last" (click)="changePage(page.number+1)"
          aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <!--
      <select (ngModelChange)="changePage()" [(ngModel)]="size" class="custom-select">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
      -->
    </ul>
  </nav>
</div>
