<!-- task-register.component.html -->
<section class="container mt-5">
    <h1 class="title-screen-create">{{ titleTask }}</h1>

    <form [formGroup]="form" (ngSubmit)="save()">

        <div>
            <div class="form-row mb-3">
                <div class="form-group col">
                    <label class="requiredLabel">{{ 'TASK.LABEL_TITLE' | translate }}</label>
                    <input id="task-register-title" type="text" class="form-control" formControlName="title"
                        tooltip="{{ 'TASK.LABEL_TITLE' | translate }}">
                    <app-form-messages-error [control]="$any(form).controls['title']"
                        label="{{ 'TASK.LABEL_TITLE' | translate }}">
                    </app-form-messages-error>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="form-group col">
                    <label class="requiredLabel">{{ 'TASK.LABEL_DESCRIPTION' | translate }}</label>
                    <input id="task-register-description" type="text" class="form-control" formControlName="description"
                        tooltip="{{ 'TASK.LABEL_DESCRIPTION' | translate }}">
                    <app-form-messages-error [control]="$any(form).controls['description']"
                        label="{{ 'TASK.LABEL_DESCRIPTION' | translate }}">
                    </app-form-messages-error>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="form-group col">
                    <label class="requiredLabel">{{ 'TASK.LABEL_DUEDATE' | translate }}</label>
                    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                        <input id="task-register-duedate"  type="text"
                               class="form-control"
                               formControlName="dueDate"
                               bsDatepicker
                               [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }">
                        <app-form-messages-error [control]="$any(form).controls['dueDate']"
                                                 label="{{ 'TASK.LABEL_DUEDATE' | translate }}">
                        </app-form-messages-error>
                      </div>
                </div>

            </div>

            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" id="task-register-completed" formControlName="completed">
                <label class="form-check-label requiredLabel" for="task-completed-checkbox">{{ 'TASK.LABEL_COMPLETED' | translate }}</label>
                <app-form-messages-error [control]="$any(form).controls['completed']"
                  label="{{ 'TASK.LABEL_COMPLETED' | translate }}">
                </app-form-messages-error>
              </div>
              

        </div>


        <div class="row">

            <div class="col-md-2 d-flex justify-content-start">
                <button id="task-register-btn-save-task" type="submit" class="btn btn-primary w-100"
                        tooltip="{{ 'CRUD.TOOLTIP_SAVE' | translate }}" [disabled]="form.invalid">  {{ 'CRUD.SAVE' | translate }}
                </button>
            </div>
            
            <div class="col-md-2 d-flex justify-content-start">
                <button id="task-register-btn-back" type="button" class="btn btn-secondary w-100"
                 tooltip="{{ 'CRUD.TOOLTIP_BACK' | translate }}" routerLink="/app/task">       {{ 'CRUD.BACK' | translate }}
                </button>
            </div>

        </div>
          
          


    </form>

    <app-form-debug [form]="form"></app-form-debug>
</section>