

<button type="button" class="btn btn-primary" style="margin-top: 1%;" routerLink="/automation">
    Back to Automation
</button>
<div class="custom-automation-margin">
    <h2>
        <p>Datepicker</p>
    </h2>

    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
          <input type="text"
                 placeholder="Datepicker"
                 class="form-control"
                 bsDatepicker>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
          <input type="text"
                 placeholder="Daterangepicker"
                 class="form-control"
                 bsDaterangepicker>
        </div>
      </div>


</div>